@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Aulos Sans';
	src: url('/fonts/Aulos Sans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'Montserrat Variable', sans-serif;
	--font-aulos: 'Aulos Sans', sans-serif;
	--color-primary: #4366ae;
	--color-primary-variant: #b7a2ce;
	--color-secondary: #e4563d;
	--color-accent: #e6e245;
	--color-background: #000;
	--color-surface: #fff;
	--color-error: #b00020;

	--background-image-pattern-1: url('/assets/patterns/Aulos_assets_PATTERN_01.svg');
	--background-image-pattern-2: url('/assets/patterns/Aulos_assets_PATTERN_02.svg');
	--background-image-pattern-3: url('/assets/patterns/Aulos_assets_PATTERN_03.svg');
	--background-image-pattern-4: url('/assets/patterns/Aulos_assets_PATTERN_04.svg');
}

@layer base {
	h1 {
		font-family: var(--font-aulos);
	}
}
